@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model RegistrationAppProperValidations.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";

}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <form method="post">
        <table>
            <th>
                <td>Create new user</td>
            </th>
            <tr>
                <td><label asp-for="Person.Name"></label></td>
                <td>
                    <input asp-for="Person.Name" />
                </td>
                <td>
                    <span asp-validation-for="Person.Name"></span>
                </td>
            </tr>
            <tr>
                <td><label asp-for="Person.Surename"></label></td>
                <td>
                    <input asp-for="Person.Surename" />
                </td>
                <td>
                    <span asp-validation-for="Person.Surename"></span>
                </td>
            </tr>
            <tr>
                <td><label asp-for="Person.DateOfBirth"></label></td>
                <td>
                    <input asp-for="Person.DateOfBirth" />
                </td>
                <td>
                    <span asp-validation-for="Person.DateOfBirth"></span>
                </td>
            </tr>
            <tr>
                <td><label asp-for="Person.Nino"></label></td>
                <td>
                    <input asp-for="Person.Nino" />
                </td>
                <td>
                    <span asp-validation-for="Person.Nino"></span>
                </td>
            </tr>
        </table>
        <input type="submit" />
    </form>
</div>