@page
@model FormPostExampleModel
@{
    ViewData["Title"] = "Form example";
}

<!-- all divs are just for formatting purposes -->

<div class="flex-md-row">
    <form method="post">

        <div class="row">
            <div class="col-md-12 m-2">
                <label asp-for="Name"></label>
                <input asp-for="Name"/>
                <span asp-validation-for="Name"></span>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12 m-2">
                <label asp-for="Age"></label>
                <input asp-for="Age"/>
                <span asp-validation-for="Age"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 m-2">
                <label asp-for="Email"></label>
                <input asp-for="Email"/>
                <span asp-validation-for="Email"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 m-2">
                <button class="btn-info">Submit</button>
            </div>
        </div>
    </form>
</div>